<main>
  <header class="row">
    <h3>Bookmark App</h3>
  </header>

  <div class="row">
    <div class="large-6 columns">
      <div class="panel">
        <input
          type="text"
          placeholder="Search Bookmarks"
          [(ngModel)]="searchTerm"
          (keyup)="filterItems(searchTerm)"
        />
      </div>

      <ul class="bookmarks">
        <li *ngFor="let item of filteredItems">
          <h4>{{ item.author }}</h4>
          <br />
          <img src="{{ item.urlToImage }}" style="width: 200px" /><br />
          <a href="{{ item.url }}" class="title">{{ item.title }}</a>
          <span class="label secondary">{{ item.source.name }}</span>

          <i class="right icon-trash" (click)="deleteItem(item)"></i>
        </li>
      </ul>
    </div>

    <div class="large-6 columns">
      <div class="panel">
        <h4>Add Bookmark</h4>
        <input type="text" placeholder="Author" [(ngModel)]="author" />
        <input type="text" placeholder="Title" [(ngModel)]="title" />
        <input type="text" placeholder="URL" [(ngModel)]="urlToImage" />

        <!-- <input type="text" placeholder="Category" [(ngModel)]="site_category" /> -->
        <button (click)="addBookmark()">Add Bookmark</button>
      </div>
    </div>
  </div>
</main>
